div#TOC li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0;
}

.header-section-number::after {
  content: ".";
}

h1{
	font-size: 16pt;
	color:#315697;
}

h2{
	font-size: 14pt;
	color:#315697;
}

h3{
	font-size: 12pt;
	color:#315697;
}